
<launch>
  <arg name="robot_ip" doc="IP of the controller" />
  <arg name="J23_coupled" default="false" doc="If true, compensate for J2-J3 parallel linkage" />

  <!--<rosparam command="load" file="$(find inexbot_support)/config/joint_names.yaml" /> -->

  <include file="$(find inexbot_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
  </include>
</launch>
