<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="warm" >

  <!-- common stuff -->
  <xacro:include filename="$(find warm_3kg_description)/urdf/common.gazebo.xacro" />

  <!-- ur5e -->
  <xacro:include filename="$(find warm_3kg_description)/urdf/warm.urdf.xacro" />

  <!-- arm -->
  <xacro:warm_robot prefix="" joint_limited="false"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>